
flat-button(fg, bg)
  button
    color: fg
    &:focus
      outline: none
    background: linear-gradient(20deg, mix(fg, bg, 30%), bg 30%)
    &:hover
      background: linear-gradient(20deg, mix(fg, bg, 60%), bg 30%)
    &:active
      background: linear-gradient(45deg, bg, mix(fg, bg, 60%))

pending(col)
  $name = unquote('pending-' + substr(s("%s", col),1,3))
  @keyframes {$name}
    0%   { box-shadow: col 0px 0px 10px inset }
    50%  { box-shadow: col 0px 0px 50px inset }
    100% { box-shadow: col 0px 0px 10px inset }
  animation-iteration-count: infinite
  animation-name: $name
  animation-duration: 1s

pulse(col)
  $name = unquote('pulse-' + substr(s("%s", col),1,3))
  @keyframes {$name}
    0%   { background: rgba(col, .0) }
    10%  { background: rgba(col, .8) }
    15%  { background: rgba(col, .3) }
    20%  { background: rgba(col, .8) }
    50%  { background: rgba(col, .4) }
    100% { background: rgba(col, .0) }
  animation-iteration-count: 1
  animation-name: $name
  animation-duration: 1s


body
  background-color: #fff
  margin: 0

// process listing
.procs
  overflow-y: scroll
  height: 100%
.procs table
  table-layout: fixed
  position: relative
  text-align: center
  border-collapse: collapse
  width: 100%
  overflow: scroll
  .proc
    border-bottom: 3px solid #888

// process headerline
.proc
  .status, .name, .start, .stop, .restart
    font: 1em sans-serif
    padding: 5px
  button
    cursor: pointer
    padding: 0
    border: none
    background: #0000
  .name { width: 5em }
  .status, .start, .stop { width: .5em }
  .restart { width: 1.8em }
  .start button:hover { text-shadow: 2px 2px 2px #0f0 }
  .restart button:hover { text-shadow: 2px 2px 2px #ff0 }
  .stop button:hover { text-shadow: 2px 2px 2px #f00 }
  .pid
    width: 4em
    font: 1em monospace
    position: relative
    &:hover .ports { visibility: visible }
    .ports
      visibility: hidden
      position: absolute
      color: #000
      background: #fff
      font: 1.5em monospace
      span { padding: 5px 10px }
      z-index: 1
      top: 0px
  .td-log, .td-config { width: 35% }

  // flash
  &:after
    content: ' '
    position: absolute
    width: 100%
    transition-duration: 1s
    pointer-events: none
    z-index: 2
    left: 0
  &.pending:after
    pointer-events: all
    cursor: wait
    pending #ccf
  &.success:after
    pulse #0c0
  &.failure:after
    transition-duration: 0s
    background: #c00a


// process status
.proc
  &.running
    background: #cfc
    color: #080
    .start button { visibility: hidden }
  &.notrunning
    background: #ffc
    color: #880
    .stop button, .restart button { visibility: hidden }
  &.stopped
    background: #caa
    .name { color: #600 }
    .start button { visibility: hidden }

// log
.proc .log
  overflow: auto
  display: grid
  .entry
    &:nth-child(2n) { background: #cce }
    &:nth-child(2n+1) { background: #c4c4e0 }
    display: inline-flex
    pre { margin: 0 }
    .date
      color: #e49
      &.s { background: #f99 }
      &.m { background: #faa }
      &.h { background: #fbb }
      &.d { background: #fcc }
      &.w { background: #fdd }
      &.o { background: #fee }
      &.y { background: #fee }
      user-select: none
      font-size: .8em
      letter-spacing: 2px
      min-width: 40px
      text-align: center

// expanding
.procs .proc
  .log, .config, &:after
    overflow: hidden
    height: 50px
    min-height: 50px;
    transition-duration: .1s
  &.expand
    .log, .config, &:after
      overflow: auto
      height: auto
      // height: 300px
      min-height: 300px





// jsoneditor

.json-stem
  display: flex
  & > button
    background: #c6f3
    padding: 0 5px
    &:hover { background: #c6f6 }
    font-size: .5em
    height: 3em
    &:nth-child(1) { border-radius: 0 0 0 15px }
    // 1px for shadow issue
    &:nth-child(2) { border-radius: 0 0 0 1px }
    &:nth-child(3) { border-radius: 0 0 15px 0 }

.json-string
  overflow: hidden
  width: 300px
  height: 300px
  max-width: 100%
  min-width: 100%
  max-height: 250px
  max-width: 250px
  padding: 4px
  resize: none
  white-space: pre
  border: none
  border-radius: 0 0 15px 15px
  &:focus
    overflow: auto
    max-width: calc(100%)
    max-height: calc(100%)
  &::placeholder
    color: #ddd

.json-array
  background: #8854
  padding: 8px
  box-sizing: border-box
  display: flex
  flex-wrap: wrap
  list-style: none
  > li
    display: flex
    flex-direction: column
    margin: 1px 1px
    & > button
      border-radius: 15px 15px 0 0
      border-style: groove
      border-width: 1px
      padding: 8px
      width: 100%
      height: 1.5em
      background: #c6f6
      &:hover { background: #f386 }
    & > button:last-child
      background: #c6f2
      &:hover { background: #afd6 }
    & > :nth-child(2)
      border-radius: 0 0 15px 15px
      width: 100%


.json-object
  background: #8854
  padding: 8px
  box-sizing: border-box
  display: inline-flex
  flex-wrap: wrap
  max-width: 100%
  list-style: none
  > *
    max-width: 100%;
  > li
    margin: 3px 5px
    max-width: calc(100% - 10px)
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    input
      min-width: 100%
      background: #c6f6
      &:last-child { background: #c6f4 }
      &:last-child:hover { background: #c6f6 }
      border-radius: 15px 15px 0 0
      padding: 4px
      font-size: .9em
      border: none
      width: 100%
      text-align: center
    & > :nth-child(2)
      border-radius: 0 0 15px 15px
      width: 100%
