
pending(col)
  $name = unquote('pending-' + substr(s("%s", col),1,3))
  @keyframes {$name}
    0%   { box-shadow: col 0px 0px 10px inset }
    50%  { box-shadow: col 0px 0px 50px inset }
    100% { box-shadow: col 0px 0px 10px inset }
  animation-iteration-count: infinite ; animation-name: $name ; animation-duration: 1s

feedback()
  pulse(col)
    $name = unquote('pulse-' + substr(s("%s", col),1,3))
    @keyframes {$name}
      0%   { background: rgba(col, .0) }
      10%  { background: rgba(col, .8) }
      15%  { background: rgba(col, .3) }
      20%  { background: rgba(col, .8) }
      50%  { background: rgba(col, .4) }
      100% { background: rgba(col, .0) }
    animation-iteration-count: 1 ; animation-name: $name ; animation-duration: 1s
  &.pending:after { pointer-events: all ; cursor: wait ; pending #ccf }
  &.success:after { pulse #0c0 ; _:_ }
  &.failure:after { pulse #c00 ; _:_ }
  // flash
  &:after
    content: ' '
    position: absolute ; top: 0 ; left: 0 ; width: 100% ; height: 100% ; z-index: 1
    transition-duration: 1s
    pointer-events: none

button
  background: #bad ; border: 5px groove #fcf ; color: #fcf
  height: 46px ; margin: 2px ; font-size: 2em ; box-sizing: border-box

body
  background-color: #fff
  margin: 0
  button { cursor: pointer }

.dashboard
  display: flex ; flex-direction: column ; height: 100%
  header
    background: #a6a
    align-items: center ; flex-shrink: 0 ; display: flex ; height: 3em
    .hook
      font-size: 1em ; margin: 20px
      border: 3px groove #abf ; border-radius: 50px
      &.running { background: #ffc ; color: #880 ; &:before { content:'☕ ' } ; pending #ccf }
      &.success { background: #cfc ; color: #080 ; &:before { content:'✼ ' } }
      &.failure { background: #caa ; color: #600 ; &:before { content:'🛇 ' } }
      background: white
    textarea { resize: none ; white-space: nowrap ; overflow: hidden ; height: 90% ; width: 5em }
  .heartbeat
    color: #aaa ; cursor: wait
    font-size: 2em ; text-align: center ; width: 1.5em ; padding: 5px ; margin-right: auto
    strongshadow(rad, col)
      text-shadow: 0px 0px rad col, 0px 0px rad col, 0px 0px rad col, 0px 0px rad col
    &.phase0
      @keyframes phase0
        0%   { font-size: 2.5em ; color: #fac ; strongshadow: 50px #f33 }
        20%  { font-size: 2em ; color: #fac ; strongshadow: 40px #f33 }
        80%  { font-size: 2em ; color: #fac ; strongshadow: 5px #f33 }
        100% { font-size: 2em ; color: #aaa ; strongshadow: 0px #f330 }
      animation-iteration-count: 1 ; animation-name: phase0 ; animation-duration: 5s
    &.phase1
      @keyframes phase1
        0%   { font-size: 2.5em ; color: #fac ; strongshadow: 50px #f33 }
        20%  { font-size: 2em ; color: #fac ; strongshadow: 40px #f33 }
        80%  { font-size: 2em ; color: #fac ; strongshadow: 5px #f33 }
        100% { font-size: 2em ; color: #aaa ; strongshadow: 0px #f330 }
      animation-iteration-count: 1 ; animation-name: phase1 ; animation-duration: 5s
  .token
    background: #fef
    padding: 5px ; margin-left: 50px

.hookview
  background: #a6a ; padding: 5px
  &.pending { pending #aac ; _:_ }
  flex-shrink: 0 ; display: flex ; max-height: 500px
  pre { margin: 0 }
  > button { height: auto }
  > div
    background: #dde
    overflow: auto
    > div
      display: flex
      > pre
        &.due { color: #0004 }
        &.running { pending #aac ; color: #000 }
        &.success { color: #000 }
        &.failure { color: #a22 }
        min-width: 400px ; width: 400px ; word-break: break-all ; white-space: normal ; padding: 5px
      > time { font: .8em monospace ; width: 50px ; padding: 5px }
      > div
        > pre.fid1 { color: #444 }
        > pre.fid2 { color: #c00 }

// process listing
.procs
  text-align: center ; width: 100% ; overflow-y: scroll ; flex-grow: 1
  .proc
    border-bottom: 3px solid #888
    display: flex ; align-items: center

// process headerline
.proc
  font: 1em sans-serif
  position: relative
  feedback()
  .start, .stop, .restart, .pid { visibility: hidden }
  &:hover { .start, .stop, .restart, .pid { visibility: visible } }
  .status { width: 1.5em }
  .name { width: 5em }
  .start, .stop, .restart { font-size: 1em ; padding: 2px ; height: 2em }
  .start   { background: #afaa ; color: #080a ; border: 2px groove #afaa }
  .restart { background: #ffaa ; color: #880a ; border: 2px groove #ffaa }
  .stop    { background: #fcca ; color: #844a ; border: 2px groove #fcca }
  .pid
    font: 1em monospace ; width: 4em ; position: relative
    &:hover .ports { visibility: visible }
    .ports
      color: #000 ; background: #fff
      font: 1em monospace ; position: absolute ; z-index: 1 ; visibility: hidden
      span { padding: 5px }
  .logwrapOuter
    background: #cce
    width: 30%
    .logwrapInner
      height: 100% ; overflow: visible ; position: relative
      .log { width: 100% ; position: absolute ; bottom: 0 }
  .config { width: 30% }


// process status
.proc
  &.running
    background: #cfc ; color: #080
    .start { visibility: hidden }
  &.notrunning
    background: #ffc ; color: #880
    .stop, .restart { visibility: hidden }
  &.stopped
    background: #caa
    .name { color: #600 }
    .start { visibility: hidden }

.addproc { width: 2em ; display: block }

// log
.proc .log
  display: grid
  .entry
    &:nth-child(2n) { background: #cce }
    &:nth-child(2n+1) { background: #c4c4e0 }
    display: inline-flex
    pre { margin: 0 ; text-align: left }
    .date
      color: #e49 ; user-select: none
      font-size: .8em ; letter-spacing: 2px ; text-align: center ; min-width: 40px
      &.s { background: #f99 }
      &.m { background: #faa }
      &.h { background: #fbb }
      &.d { background: #fcc }
      &.w { background: #fdd }
      &.o { background: #fee }
      &.y { background: #fee }

// config
.proc .config
  align-self: baseline ; position: relative
  feedback()
  .buttons { display: flex }
  .buttons > button
    flex-grow: 1
    &.locked
      &:before { content: '🔒'; color: #fcf }
      &:after { content: '🔓'; color: #c6f }
    &.unlocked
      &:before { content: '🔒'; color: #c6f }
      &:after { content: '🔓'; color: #fcf }
  & > input { display: block ; margin: auto }
.proc.expand .config
  .buttons > button
    &:nth-child(1) { flex-grow: 3 }
    &:nth-child(2) { flex-grow: 1; color: #fdd; background: #e88; border: 5px groove #fdd }
    &:nth-child(3) { flex-grow: 6 }

// expanding
.procs .proc
  .logwrapOuter, .config
    overflow: hidden ; height: 50px
    transition-duration: .1s
  &.expand
    .logwrapOuter { overflow-x: auto ; overflow-y: hidden ; height: 300px }
    .config { height: auto }




// jsoneditor

.json-stem
  display: flex
  & > button
    background: #c6f3
    font-size: .5em ; height: 3em ; padding: 0 5px ; border: none ; margin: 0
    &:hover { background: #c6f6 }
    &:nth-child(1) { border-radius: 0 0 0 15px }
    // 1px for shadow issue
    &:nth-child(2) { border-radius: 0 0 0 1px }
    &:nth-child(3) { border-radius: 0 0 15px 0 }

.json-string
  resize: none ; border-radius: 0 0 15px 15px ; white-space: pre
  padding: 2px ; border: none
  min-width: 100% ; max-width: 100% ; max-height: 250px ; overflow: hidden
  &:focus { max-width: calc(80%) ; max-height: calc(80%) ; overflow: auto }
  &::placeholder { color: #ddd }

.json-array
  background: #8854 ; list-style: none
  padding: 2px ; box-sizing: border-box ; display: flex ; flex-wrap: wrap
  > li
    display: flex ; flex-direction: column ; margin: 1px 1px
    & > button
      background: #c6f6 ; font: inherit ; border-radius: 15px 15px 0 0
      width: 100% ; height: 1.5em ; padding: 8px ; border: 1px groove ; margin: 0
      &:hover { background: #f386 }
    & > button:last-child
      background: #c6f2
      &:hover { background: #afd6 }
    & > :nth-child(2)
      border-radius: 0 0 15px 15px
      width: 100%

.json-object
  background: #8854 ; list-style: none
  max-width: 100% ; box-sizing: border-box ; padding: 2px ; margin: 0
  display: inline-flex ; flex-wrap: wrap
  > * { max-width: 100% }
  > li
    max-width: calc(100% - 10px) ; padding: 0 ; margin: 3px
    display: flex ; flex-direction: column ; align-items: center
    input
      background: #c6f6 ; border-radius: 15px 15px 0 0
      font-size: .9em ; min-width: 100% ; width: 100% ; padding: 2px ; border: none
      text-align: center
      &:last-child { background: #c6f4 }
      &:last-child:hover { background: #c6f6 }
    & > :nth-child(2)
      border-radius: 0 0 15px 15px
      width: 100%
